<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../style/index.css">
  </head>
  <body>
    <h1>💖 Create </h1>
    <div>
        <label for="room_name"></label>
        <input id="room_name" type="text" placeholder="Room name">
    </div>
    <div class="create-button">
        <button type="button"  id="create-room" class="create">
          Add Room
        </button>
    </div>
    <script type="text/javascript" src=""></script>
  </body>
</html>
