<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../style/index.css">
  </head>
  <body>
    <div class="top">
      <img src="../icons/smart-home.png" alt="smart-home" class="header-icon">
      <h2>Rooms</h2>
    </div>
    <div class="middle">
      <table id="room-table">
        <thead>
          <tr>
            <th>Room id</th>
            <th>Room name</th>
            <th>Room's devices</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody id="room-table-body">
  
        </tbody>
      </table>
    </div>
    <div class="bottom">
        <button type="button"  id="create-room" class="create">
          Add Room
        </button>
    </div>
    <script type="text/javascript" src="../room.js"></script>
  </body>
</html>
