body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

table{
  margin-left:auto; 
  margin-right:auto;
  width:90%;
  text-align: center;
}

th, h2, h3, img{
  color: #3626A7;
}

h3{
  text-align: left;
}

.btn-outline-primary {
  color: #3626A7;
  border-color: #3626A7;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #3626A7;
  border-color: #3626A7;
}



.no-background-button{
  background: none;
  border-style: none;
  height: 30px;
}

.top, .middle{
  text-align: center;
  margin: 10px;
}
.bottom{
  text-align: left;
}

.top{
  height: 30px;
}

.middle{
  height: 70%;
  overflow-x:auto;
}

.bottom{
  height: 10%;
}

.create-input{
  margin-bottom: 20px;
}

.top h2{
  size: 20px;
  display: inline;
}

.top img{
  height: 32px;
  width: 32px;
  vertical-align: bottom;
}
